@{
	Layout = "_Layout.cshtml";
}
<style>
	.list-group-item-a {
		border: none;
		  background-color: rgba(0, 0, 0, 0.05);
		border-radius: 0;
	}

	.col-md-3-left-menu {
		max-width: 150px;
	}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3-left-menu col-md-3 position-fixed">
			<!-- Левая часть: меню -->
			<ul class="list-group">
				<a href="/account/profile" class="list-group-item-a list-group-item">Профиль</a>
				<a href="/messenger/chat" class="list-group-item-a list-group-item">Сообщения</a>
				<a href="/friends/find" class="list-group-item-a list-group-item">Друзья</a>
				<a href="#" class="list-group-item-a list-group-item">Группы</a>
			</ul>
		</div>
		<div class="col-md-9" style="margin-left: 150px;">
			@RenderBody()
		</div>
	</div>
</div>